<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>exercise inventory</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="home">
      <h1>Welcome to Zagg Workout</h1>
      <div class="links">
        <a href="/exercises">
          Exercises
          <svg
            class="back"
            fill="#000000"
            height="50px"
            width="50px"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 511.998 511.998"
            xml:space="preserve"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g>
                <g><circle cx="264.358" cy="55.54" r="42.502"></circle></g>
              </g>
              <g>
                <g>
                  <path
                    d="M418.946,203.093c-9.346-5.34-21.253-2.092-26.593,7.255c-3.145,5.504-3.291,11.889-0.987,17.305l-3.069,5.372 l-29.226-30.973l-24.156-74.089c-2.414-7.404-8.961-12.298-16.251-12.975v-0.267h-94.239c-0.222-0.096-0.431-0.208-0.659-0.297 L166.9,92.138l-4.832-55.134l10.35,0.042c3.541,4.701,9.143,7.764,15.484,7.791c10.765,0.043,19.527-8.647,19.57-19.411 c0.043-10.765-8.647-19.527-19.412-19.57c-6.339-0.026-11.968,2.992-15.546,7.664l-12.904-0.052 c-2.524-8.414-10.677-14.185-19.774-13.396c-7.886,0.692-14.208,6.129-16.418,13.25l-5.138-0.021 c-3.541-4.701-9.143-7.765-15.484-7.791c-10.763-0.045-19.526,8.646-19.57,19.41c-0.044,10.765,8.647,19.527,19.412,19.57 c6.339,0.025,11.968-2.992,15.546-7.664l5.879,0.023l6.159,70.278c0.628,7.159,5.256,13.345,11.947,15.966l67.787,26.565 c0.032,0.013,0.065,0.021,0.099,0.033v132.598l-46.906,199.465c-3.11,13.228,5.091,26.474,18.319,29.585 c13.235,3.11,26.475-5.095,29.585-18.319l47.575-202.305h11.464l47.575,202.305c3.11,13.226,16.352,21.429,29.585,18.319 c13.229-3.111,21.43-16.357,18.319-29.585L318.664,282.29v-82.082l5.74,17.608c0.866,2.657,2.31,5.089,4.228,7.121l40.04,42.435 l-4.21,7.369c-5.836,0.765-11.261,4.133-14.406,9.638c-5.34,9.346-2.092,21.253,7.255,26.593 c9.346,5.34,21.253,2.092,26.593-7.255c3.145-5.504,3.291-11.889,0.987-17.305l2.415-4.227c6.139,1.285,12.386-0.51,16.88-4.749 c7.523-7.1,7.929-18.9,0.98-26.51l6.629-11.603c5.836-0.765,11.261-4.134,14.406-9.638 C431.541,220.339,428.292,208.434,418.946,203.093z"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </a>
        <a href="/equipment">
          Equipment
          <svg
            fill="#000000"
            height="50px"
            width="50px"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 512 512"
            xml:space="preserve"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g>
                <g>
                  <g>
                    <path
                      d="M426.667,192v42.667c0,11.776,9.536,21.333,21.333,21.333c11.797,0,21.333-9.557,21.333-21.333V192 c0-75.307-56.085-137.6-128.64-147.733C337.579,19.392,316.523,0,290.795,0h-26.923c-25.792,0-46.891,19.499-49.92,44.501 c-53.781,8.811-96.299,51.136-105.365,104.832H85.333c-11.797,0-21.333,9.557-21.333,21.333S73.536,192,85.333,192h21.333v42.667 c0,11.776,9.536,21.333,21.333,21.333c11.797,0,21.333-9.557,21.333-21.333V192h21.333c11.797,0,21.333-9.557,21.333-21.333 s-9.536-21.333-21.333-21.333h-18.304c7.765-29.845,31.125-53.205,60.971-60.971v252.971h-160 C23.915,341.333,0,365.269,0,394.667S23.915,448,53.333,448h32v42.667c0,11.776,9.536,21.333,21.333,21.333 c11.797,0,21.333-9.557,21.333-21.333V448h85.333v13.44c0,27.883,22.656,50.56,50.539,50.56h26.923 c27.883,0,50.539-22.677,50.539-50.56V87.488C389.952,97.408,426.667,140.501,426.667,192z"
                    ></path>
                    <path
                      d="M384,298.667c0,11.776,9.536,21.333,21.333,21.333h85.333c11.797,0,21.333-9.557,21.333-21.333 s-9.536-21.333-21.333-21.333h-85.333C393.536,277.333,384,286.891,384,298.667z"
                    ></path>
                    <path
                      d="M490.667,341.333h-85.333c-11.797,0-21.333,9.557-21.333,21.333S393.536,384,405.333,384h85.333 c11.797,0,21.333-9.557,21.333-21.333S502.464,341.333,490.667,341.333z"
                    ></path>
                    <path
                      d="M490.667,405.333h-85.333c-11.797,0-21.333,9.557-21.333,21.333S393.536,448,405.333,448h85.333 c11.797,0,21.333-9.557,21.333-21.333S502.464,405.333,490.667,405.333z"
                    ></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </body>
</html>
