:root {
  font-size: 16px;
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  background-color: rgb(49, 47, 47);
  color: rgb(200, 210, 219);
}
h1 {
  margin: 0;
}
.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home h1 {
  color: rgb(200, 210, 219);
  font-size: 3rem;
}
.links {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.links a {
  text-decoration: none;
  padding: 50px 100px;
  background-color: rgb(71, 146, 151);
  border-radius: 20px;
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
  display: flex;
  align-items: center;
  width: max(400px, 30%);
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}
.links a svg {
  transition: all 0.2s ease-in-out;
}

.links a:hover {
  background-color: rgb(30, 100, 100);
  color: aliceblue;
}
.links a:hover svg {
  fill: aliceblue;
  stroke: aliceblue;
}

.header-ex {
  margin-left: 20%;
  margin-top: 30px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  gap: 30px;
  flex-wrap: wrap;
}
.header-ex a svg {
  fill: rgb(200, 210, 219);
}
.header-ex a svg rect,
.header-ex a svg line,
.header-ex a svg {
  transition: all 0.15s ease-in-out;
}

.header-ex a:hover svg rect,
.header-ex a:hover svg line,
.header-ex a:hover svg {
  stroke: rgb(90, 132, 172);
}
.header-ex h1 {
  font-size: 3rem;
}
.exercices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 20%));
  justify-content: center;
  gap: 30px;
}
.exercise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(71, 146, 151);
  color: black;
  border-radius: 20px;
  padding: 0 30px;
}

.exercise-container img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: left top;
  border-radius: 20px;
}

.exercise-container p,
.exercise-container .equipment-list {
  align-self: flex-start;
}

.equipment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
.equipment-item {
  width: 300px;
  line-height: 40px;
}

.new-exercise-form,
.new-equipment-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: max(400px, 30%);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.new-exercise-form input,
.new-equipment-form input {
  padding: 10px 10px;
  font-size: 1rem;
}

.new-exercise-form select,
.new-equipment-form select {
  padding: 10px 10px;
  font-size: 1rem;
}
.new-exercise-form button,
.new-equipment-form button {
  padding: 10px 30px;
  font-size: 1rem;
  align-self: center;
}
